/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

input {
  @apply px-2 py-0.5 font-light tracking-wider rounded-lg  bg-gray-800 text-white border-0.5 border-gray-600;

  &[type="number"] {
    @apply font-mono;
  }

  &:disabled {
    @apply bg-gray-600 text-gray-400 cursor-not-allowed;
  }
}

button {
  @apply bg-yellow-500 text-white font-light tracking-wider px-2 py-0.5 rounded-md;

  &:disabled {
    @apply bg-gray-600 text-gray-400 cursor-not-allowed;
  }
}

.color-picker input {
  background-color: white !important;
}